
<div class="fh5co-team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">About Me</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="team-box text-center to-animate-2">
					<div class="user"><img class="img-reponsive" src="../static/images/user-1.jpg" alt="Sebastian Moscoso"></div>
					<h3>Juan Sebastian Moscoso</h3>
					<span class="position">Cuenca, Ecuador</span>
					<p>Self taught programmer, with experience in ERP development, Data Extraction and Data Visualization.</p>
					<ul class="social-media">
						<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
						<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
						<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-4">
				<div class="team-box text-center to-animate-2">
					<div class="user"><img class="img-reponsive" src="../static/images/user-1.jpg" alt="Sebastian Moscoso"></div>
					<h3>My Interests</h3>
					<span class="position">Cuenca, Ecuador</span>
					<p>My main interest are developing Blockchain and Quantitative Alalysis,
          keeping my code as clean as I can. Game theory, probability and board
          games to apply it with friends.</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="team-box text-center to-animate-2">
					<h3>More stuff about me</h3>
					<span class="position">Cuenca, Ecuador</span>
					<p>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>
