

<img id="tool" src="../static/images/tools/arch.png" width="64px" height="64px"
  style="--from: 45deg; --to: 405deg; --from2: -45deg; --to2: -405deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/compose.png" width="64px" height="64px"
  style="--from: 90deg; --to: 450deg; --from2: -90deg; --to2: -450deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/debian.png" width="64px" height="64px"
  style="--from: 135deg; --to: 495deg; --from2: -135deg; --to2: -495deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/do.png" width="64px" height="64px"
  style="--from: 180deg; --to: 540deg; --from2: -180deg; --to2: -540deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/docker.png" width="64px" height="64px"
  style="--from: 225deg; --to: 585deg; --from2: -225deg; --to2: -585deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/firefox.png" width="64px" height="64px"
  style="--from: 270deg; --to: 630deg; --from2: -270deg; --to2: -630deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/flask.png" width="64px" height="64px"
  style="--from: 315deg; --to: 675deg; --from2: -315deg; --to2: -675deg; --radius: 200px;">
<img id="tool" src="../static/images/tools/gimp.png" width="64px" height="64px"
  style="--from: 360deg; --to: 720deg; --from2: -360deg; --to2: -720deg; --radius: 200px;">

<img id="tool" src="../static/images/tools/git.png" width="64px" height="64px"
  style="--from: 405deg; --to: 45deg; --from2: -405deg; --to2: -45deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/github.png" width="64px" height="64px"
  style="--from: 450deg; --to: 90deg; --from2: -450deg; --to2: -90deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/keras.png" width="64px" height="64px"
  style="--from: 495deg; --to: 135deg; --from2: -495deg; --to2: -135deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/matplotlib.png" width="64px" height="64px"
  style="--from: 540deg; --to: 180deg; --from2: -540deg; --to2: -180deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/plotly.png" width="64px" height="64px"
  style="--from: 585deg; --to: 225deg; --from2: -585deg; --to2: -225deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/python.png" width="64px" height="64px"
  style="--from: 630deg; --to: 270deg; --from2: -630deg; --to2: -270deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/vim.png" width="64px" height="64px"
  style="--from: 675deg; --to: 315deg; --from2: -675deg; --to2: -315deg; --radius: 300px;">
<img id="tool" src="../static/images/tools/web.png" width="64px" height="64px"
  style="--from: 720deg; --to: 360deg; --from2: -720deg; --to2: -360deg; --radius: 300px;">
